MONGODB_URI= mongodb+srv://<db_username>:<db_password>@cluster0-binhdt.oeodyyl.mongodb.net/?appName=Cluster0-Binhdt
mongodb://localhost:27017/chat-app-realtime-api
DATABASE_NAME=chat-app-realtime

APP_HOST=localhost
APP_PORT=5000
CLIENT_URL=http://localhost:3000/

ACCESS_TOKEN_SECRET = jwtbinhdeptrai
REFRESH_TOKEN_SECRET = jwtbinhdeptrairefresh